.menu__arrow {
  background-image: url("../../assets/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 8px;
  height: 4px;
  transition: transform 0.5s ease-in-out;
}

.menu__button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__arrow_up {
  transform: rotateX(180deg);
}
.menu__button {
  background-color: inherit;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  border: none;
  margin: 0 7px;
  display: block;
  font-family: "Neue Machina";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 2.1px;
}

.menu__button_red {
  color: #e7205f;
}

@media (max-width: 922px) {
  .menu__button {
    padding-left: 0;
    padding-right: 0;
  }
}
