.menu__button-item {
  width: 194px;
  background-color: inherit;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  border: none;
  margin: 0 7px;
  border-radius: 20px;
  box-sizing: border-box;
  display: block;
  font-family: "Neue Machina";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 2.1px;
}

.menu__button-item:hover {
  background-color: #212124;
}
